/* screen - activate-location */

.activate-location {
  background-color: transparent;
  height: 982px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1512px;
}

.activate-location .activate-location-V36yLg {
  background-color: transparent;
  height: 982px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1512px;
}

.activate-location .welcome-to-konnect-V36yLg {
  background-color: transparent;
  height: auto;
  left: 385px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 245px;
  width: 784px;
}

.activate-location .span0-WIo3xo {
}

.activate-location .span1-WIo3xo {
}

.activate-location .making-real-life-connections-with-people-V36yLg {
  background-color: transparent;
  height: auto;
  left: 395px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 344px;
  width: 724px;
}

.activate-location .spanz28seg-lZXBsq {
}

.activate-location .rectangle-7-V36yLg {
  background-color: #b64646;
  border-radius: 20px;
  height: 68px;
  left: 392px;
  mix-blend-mode: normal;
  position: absolute;
  top: 564px;
  width: 860px;
}

.activate-location .activate-V36yLg {
  background-color: transparent;
  height: auto;
  left: 683px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 570px;
  width: 189px;
}

.activate-location .spanqwmy-F0i9op {
}

.activate-location .activate-your-location-V36yLg {
  background-color: transparent;
  height: auto;
  left: 407px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 494px;
  width: 602px;
}

.activate-location .span2pkv9-tZvMMK {
}
