/* screen - community-pages */

.community-pages {
  background-color: var(--half-and-half);
  height: 982px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1512px;
}

.community-pages .unsplashsib-vw-or-yqs0-Jy88bO {
  background-color: transparent;
  height: 100px;
  left: 1252px;
  mix-blend-mode: normal;
  position: absolute;
  top: 41px;
  width: 100px;
}

.community-pages .unsplashm-ez3-po-f-gs_k-Jy88bO {
  background-color: transparent;
  height: 60px;
  left: 72px;
  mix-blend-mode: normal;
  position: absolute;
  top: 254px;
  width: 60px;
}

.community-pages .unsplashk-vg2-dqtak7c-Jy88bO {
  background-color: transparent;
  height: 60px;
  left: 72px;
  mix-blend-mode: normal;
  position: absolute;
  top: 438px;
  width: 60px;
}

.community-pages .unsplash6anudmp-i-lw4-Jy88bO {
  background-color: transparent;
  height: 60px;
  left: 72px;
  mix-blend-mode: normal;
  position: absolute;
  top: 622px;
  width: 60px;
}

.community-pages .unsplashw1-xu-hvzc-wo-i-Jy88bO {
  background-color: transparent;
  height: 60px;
  left: 72px;
  mix-blend-mode: normal;
  position: absolute;
  top: 806px;
  width: 60px;
}

.community-pages .cooking-duo-community-Jy88bO {
  background-color: transparent;
  height: auto;
  left: 80px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 59px;
  width: 575px;
}

.community-pages .spanzxhhn-FTGPPl {
}

.community-pages .rectangle-9-Jy88bO {
  background-color: var(--mist-gray);
  border-radius: 40px;
  height: 22px;
  left: 180px;
  mix-blend-mode: normal;
  position: absolute;
  top: 254px;
  width: 679px;
}

.community-pages .rectangle-14-Jy88bO {
  background-color: var(--mist-gray);
  border-radius: 40px;
  height: 22px;
  left: 180px;
  mix-blend-mode: normal;
  position: absolute;
  top: 438px;
  width: 679px;
}

.community-pages .rectangle-19-Jy88bO {
  background-color: var(--mist-gray);
  border-radius: 40px;
  height: 22px;
  left: 180px;
  mix-blend-mode: normal;
  position: absolute;
  top: 622px;
  width: 679px;
}

.community-pages .rectangle-24-Jy88bO {
  background-color: var(--mist-gray);
  border-radius: 40px;
  height: 22px;
  left: 180px;
  mix-blend-mode: normal;
  position: absolute;
  top: 806px;
  width: 679px;
}

.community-pages .rectangle-10-Jy88bO {
  background-color: var(--mist-gray);
  border-radius: 40px;
  height: 22px;
  left: 180px;
  mix-blend-mode: normal;
  position: absolute;
  top: 284px;
  width: 601px;
}

.community-pages .rectangle-15-Jy88bO {
  background-color: var(--mist-gray);
  border-radius: 40px;
  height: 22px;
  left: 180px;
  mix-blend-mode: normal;
  position: absolute;
  top: 468px;
  width: 601px;
}

.community-pages .rectangle-20-Jy88bO {
  background-color: var(--mist-gray);
  border-radius: 40px;
  height: 22px;
  left: 180px;
  mix-blend-mode: normal;
  position: absolute;
  top: 652px;
  width: 601px;
}

.community-pages .rectangle-25-Jy88bO {
  background-color: var(--mist-gray);
  border-radius: 40px;
  height: 22px;
  left: 180px;
  mix-blend-mode: normal;
  position: absolute;
  top: 836px;
  width: 601px;
}

.community-pages .rectangle-11-Jy88bO {
  background-color: var(--mist-gray);
  border-radius: 40px;
  height: 22px;
  left: 180px;
  mix-blend-mode: normal;
  position: absolute;
  top: 314px;
  width: 350px;
}

.community-pages .rectangle-16-Jy88bO {
  background-color: var(--mist-gray);
  border-radius: 40px;
  height: 22px;
  left: 180px;
  mix-blend-mode: normal;
  position: absolute;
  top: 498px;
  width: 350px;
}

.community-pages .rectangle-21-Jy88bO {
  background-color: var(--mist-gray);
  border-radius: 40px;
  height: 22px;
  left: 180px;
  mix-blend-mode: normal;
  position: absolute;
  top: 682px;
  width: 350px;
}

.community-pages .rectangle-26-Jy88bO {
  background-color: var(--mist-gray);
  border-radius: 40px;
  height: 22px;
  left: 180px;
  mix-blend-mode: normal;
  position: absolute;
  top: 866px;
  width: 350px;
}

.community-pages .rectangle-12-Jy88bO {
  background-color: var(--mist-gray);
  border-radius: 40px;
  height: 22px;
  left: 180px;
  mix-blend-mode: normal;
  position: absolute;
  top: 344px;
  width: 538px;
}

.community-pages .rectangle-17-Jy88bO {
  background-color: var(--mist-gray);
  border-radius: 40px;
  height: 22px;
  left: 180px;
  mix-blend-mode: normal;
  position: absolute;
  top: 528px;
  width: 538px;
}

.community-pages .rectangle-22-Jy88bO {
  background-color: var(--mist-gray);
  border-radius: 40px;
  height: 22px;
  left: 180px;
  mix-blend-mode: normal;
  position: absolute;
  top: 712px;
  width: 538px;
}

.community-pages .rectangle-27-Jy88bO {
  background-color: var(--mist-gray);
  border-radius: 40px;
  height: 22px;
  left: 180px;
  mix-blend-mode: normal;
  position: absolute;
  top: 896px;
  width: 538px;
}

.community-pages .rectangle-13-Jy88bO {
  background-color: var(--madison);
  border-radius: 20px;
  height: 52px;
  left: 1050px;
  mix-blend-mode: normal;
  position: absolute;
  top: 273px;
  width: 302px;
}

.community-pages .rectangle-18-Jy88bO {
  background-color: var(--madison);
  border-radius: 20px;
  height: 52px;
  left: 1050px;
  mix-blend-mode: normal;
  position: absolute;
  top: 457px;
  width: 302px;
}

.community-pages .rectangle-23-Jy88bO {
  background-color: var(--madison);
  border-radius: 20px;
  height: 52px;
  left: 1050px;
  mix-blend-mode: normal;
  position: absolute;
  top: 641px;
  width: 302px;
}

.community-pages .rectangle-28-Jy88bO {
  background-color: var(--madison);
  border-radius: 20px;
  height: 52px;
  left: 1050px;
  mix-blend-mode: normal;
  position: absolute;
  top: 825px;
  width: 302px;
}

.community-pages .request-meet-up-Jy88bO {
  background-color: transparent;
  height: auto;
  left: 1088px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 279px;
  width: 256px;
}

.community-pages .spanns7zn-T45bqd {
}

.community-pages .request-meet-up-rvqliH {
  background-color: transparent;
  height: auto;
  left: 1088px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 463px;
  width: 256px;
}

.community-pages .spanokvzn-TqMVxt {
}

.community-pages .request-meet-up-MDphmC {
  background-color: transparent;
  height: auto;
  left: 1088px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 646px;
  width: 256px;
}

.community-pages .spanth9y2-YjxaYD {
}

.community-pages .request-meet-up-jZgVKl {
  background-color: transparent;
  height: auto;
  left: 1088px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 830px;
  width: 256px;
}

.community-pages .spanlu6cd-YawVxI {
}

.community-pages .people-passionate-ab-Jy88bO {
  background-color: transparent;
  height: auto;
  left: 80px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 122px;
  width: 665px;
}

.community-pages .spanclvok-FUJx0Q {
}
