/* screen - login */

.login {
  background-color: transparent;
  height: 982px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1512px;
}

.login .login-b8DrbD {
  background-color: transparent;
  height: 982px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1512px;
}

.login .welcome-to-konnect-b8DrbD {
  background-color: transparent;
  height: auto;
  left: 385px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 245px;
  width: 784px;
}

.login .span0-mNp3o6 {
}

.login .span1-mNp3o6 {
}

.login .making-real-life-connections-with-people-b8DrbD {
  background-color: transparent;
  height: auto;
  left: 395px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 344px;
  width: 724px;
}

.login .spanwtaam-XRhhh2 {
}

.login .rectangle-7-b8DrbD {
  background-color: var(--half-and-half);
  border-radius: 20px;
  height: 68px;
  left: 392px;
  mix-blend-mode: normal;
  position: absolute;
  top: 564px;
  width: 860px;
}

.login .rectangle-8-b8DrbD {
  background-color: var(--half-and-half);
  border-radius: 20px;
  height: 68px;
  left: 392px;
  mix-blend-mode: normal;
  position: absolute;
  top: 467px;
  width: 860px;
}

.login .sign-up-b8DrbD {
  background-color: transparent;
  
  height: auto;
  
  left: 407px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 640px;
  width: 189px;
}

.login .spanmgvnw-ffxskl {
  
}



.login .forgot-password-b8DrbD {
  background-color: transparent;
  height: auto;
  left: 986px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 637px;
  width: 294px;
}

.login .spanhg3j3-MtHxgG {
}

.login .login-6IRkXs {
  background-color: transparent;
  height: auto;
  left: 873px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 637px;
  width: 111px;
}

.login .span8z6ua-6LUWFM {
}

.login .phone-number-b8DrbD {
  background-color: transparent;
  height: auto;
  left: 436px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 479px;
  width: 370px;
}

.login .spanf7ry9-oAlg6i {
}

.login .pass-word-b8DrbD {
  background-color: transparent;
  height: auto;
  left: 436px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 582px;
  width: 370px;
}

.login .spanbz38n-z4qfEF {
}
