/* screen - send-message */

.send-message {
  background-color: var(--half-and-half);
  height: 982px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1512px;
}

.send-message .rectangle-38-B3QA8Z {
  background-color: var(--mist-gray);
  height: 137px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1512px;
}

.send-message .unsplashsib-vw-or-yqs0-B3QA8Z {
  background-color: transparent;
  height: 80px;
  left: 1290px;
  mix-blend-mode: normal;
  position: absolute;
  top: 32px;
  width: 80px;
}

.send-message .unsplashsib-vw-or-yqs0-I3vVwL {
  background-color: transparent;
  height: 50px;
  left: 895px;
  mix-blend-mode: normal;
  position: absolute;
  top: 245px;
  width: 50px;
}

.send-message .unsplashm-ez3-po-f-gs_k-B3QA8Z {
  background-color: transparent;
  height: 50px;
  left: 105px;
  mix-blend-mode: normal;
  position: absolute;
  top: 377px;
  width: 50px;
}

.send-message .unsplashsib-vw-or-yqs0-qT3jVt {
  background-color: transparent;
  height: 50px;
  left: 895px;
  mix-blend-mode: normal;
  position: absolute;
  top: 466px;
  width: 50px;
}

.send-message .unsplashsib-vw-or-yqs0-HfB8L5 {
  background-color: transparent;
  height: 50px;
  left: 895px;
  mix-blend-mode: normal;
  position: absolute;
  top: 680px;
  width: 50px;
}

.send-message .unsplashm-ez3-po-f-gs_k-I3vVwL {
  background-color: transparent;
  height: 50px;
  left: 105px;
  mix-blend-mode: normal;
  position: absolute;
  top: 575px;
  width: 50px;
}

.send-message .john-doe-B3QA8Z {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 31px;
  width: 307px;
}

.send-message .spanpuse-M9h8nr {
}

.send-message .rectangle-29-B3QA8Z {
  background-color: var(--mist-gray);
  border-radius: 30px;
  height: 25px;
  left: 961px;
  mix-blend-mode: normal;
  position: absolute;
  top: 258px;
  width: 424px;
}

.send-message .rectangle-30-B3QA8Z {
  background-color: var(--mist-gray);
  border-radius: 30px;
  height: 25px;
  left: 171px;
  mix-blend-mode: normal;
  position: absolute;
  top: 390px;
  width: 424px;
}

.send-message .rectangle-31-B3QA8Z {
  background-color: var(--mist-gray);
  border-radius: 30px;
  height: 25px;
  left: 961px;
  mix-blend-mode: normal;
  position: absolute;
  top: 479px;
  width: 424px;
}

.send-message .rectangle-36-B3QA8Z {
  background-color: var(--mist-gray);
  border-radius: 30px;
  height: 25px;
  left: 961px;
  mix-blend-mode: normal;
  position: absolute;
  top: 693px;
  width: 424px;
}

.send-message .rectangle-32-B3QA8Z {
  background-color: var(--mist-gray);
  border-radius: 30px;
  height: 25px;
  left: 171px;
  mix-blend-mode: normal;
  position: absolute;
  top: 588px;
  width: 424px;
}

.send-message .rectangle-34-B3QA8Z {
  background-color: var(--mist-gray);
  border-radius: 30px;
  height: 86px;
  left: 211px;
  mix-blend-mode: normal;
  position: absolute;
  top: 860px;
  width: 903px;
}

.send-message .rectangle-33-B3QA8Z {
  background-color: var(--mist-gray);
  border-radius: 30px;
  height: 25px;
  left: 171px;
  mix-blend-mode: normal;
  position: absolute;
  top: 625px;
  width: 324px;
}

.send-message .rectangle-35-B3QA8Z {
  background-color: var(--mist-gray);
  border-radius: 30px;
  height: 25px;
  left: 171px;
  mix-blend-mode: normal;
  position: absolute;
  top: 427px;
  width: 114px;
}

.send-message .rectangle-37-B3QA8Z {
  background-color: var(--mist-gray);
  border-radius: 30px;
  height: 25px;
  left: 961px;
  mix-blend-mode: normal;
  position: absolute;
  top: 730px;
  width: 114px;
}

.send-message .akar-iconssend-B3QA8Z {
  background-color: transparent;
  height: 60px;
  left: 1147px;
  mix-blend-mode: normal;
  position: absolute;
  top: 873px;
  width: 60px;
}

.send-message .status-online-B3QA8Z {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 90px;
  width: 150px;
}

.send-message .span1tm92-VAPrGE {
}

.send-message .carbonadd-alt-B3QA8Z {
  background-color: transparent;
  height: 60px;
  left: 125px;
  mix-blend-mode: normal;
  position: absolute;
  top: 873px;
  width: 60px;
}
