/* screen - verification-code */

.verification-code {
  background-color: transparent;
  height: 982px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1512px;
}

.verification-code .verification-code-LET9dJ {
  background-color: transparent;
  height: 982px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1512px;
}

.verification-code .welcome-to-konnect-LET9dJ {
  background-color: transparent;
  height: auto;
  left: 385px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 245px;
  width: 784px;
}

.verification-code .span0-CmrLIb {
}

.verification-code .span1-CmrLIb {
}

.verification-code .making-real-life-connections-with-people-LET9dJ {
  background-color: transparent;
  height: auto;
  left: 395px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 344px;
  width: 724px;
}

.verification-code .spanzecfm-FDYajr {
}

.verification-code .rectangle-7-LET9dJ {
  background-color: var(--half-and-half);
  border-radius: 20px;
  height: 68px;
  left: 392px;
  mix-blend-mode: normal;
  position: absolute;
  top: 564px;
  width: 860px;
}

.verification-code .submit-LET9dJ {
  background-color: transparent;
  height: auto;
  left: 407px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 640px;
  width: 189px;
}

.verification-code .spankfdc8-OjDhfA {
}

.verification-code .enter-verification-code-code-LET9dJ {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 407px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 483px;
  width: 602px;
}

.verification-code .spantredzf-TiF9lB {
  font-style: normal;
}

.verification-code .type-it-here-LET9dJ {
  background-color: transparent;
  height: auto;
  left: 430px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 576px;
  width: 370px;
}

.verification-code .span15x7ni-z9jByu {
}
